.about-content {
    display: flex;
    flex-direction: row;
     gap: 1rem;
     justify-content: space-around;
}
.contact-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}
.contact-item {
    display: block;
    width: 100%;
    text-align: center;
}

.container-full {
    width: 100%;
    /* max-width: 120rem;
    margin: 0 auto; */
    padding: 1rem 1rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

h3 {
    font-weight: 900;
    font-size: 3.6rem;
    letter-spacing: -0.2rem;
}
h3 .en {
    font-weight: 700;
    font-size: 3.9rem;
}
.submenu {
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.submenu-item {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
}
.submenu-btn {
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.submenu-item :hover{
    text-align: center;
    width: 100%;
    color: black;
    text-shadow: none;
}
.active {
    text-align: center;
    width: 100%;
    color: black;
    text-shadow: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}
.container-full{
    margin-top: 0;
    padding-top: 0;
}
main {
    margin-top: 0;
    padding-top: 0;
}
@media (max-width: 768px) {
    /* body {
        font-size: 6px;
    } */

    h3 {
        font-size: 2.4rem;
    }
    h3 span.ml-en {
        font-weight: 700;
        font-size: 2.6rem;
    }

    p {
        font-size: 1.2rem
    }
    section {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    h3 span.ml-en {
        font-family: "neue-haas-grotesk-display", -apple-system, sans-serif;
        font-weight: 600;
        letter-spacing: -0.1rem;
        font-size: 2.5rem;
        position: relative;
        top: 0.05rem;
    }
    .about-content {
        display: flex;
        flex-direction: column;
         gap: 1rem;
         justify-content: space-between;
    }
}